
.heart {
    width: 10px;
    height: 9px;
    transition: background 0.5s ease;
    transform: scale(3);
  
}
.heart:before,
.heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 5px;
    top: 0;
    width: 5px;
    height: 8px;
    background: rgba(190, 190, 190, 0.986);
    border-radius: 5px 5px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.ed:before,
.ed:after{
    background: red;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}